html {
	height: 100%;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

h1, h2{
	text-align: center;
}

#map_canvas {
	width: 80%;
	height: 80%;
	position:absolute;
	left: 10%;
	right: 10%;
	top: 20%;
	bottom: 10%;
}
